.Input1 {
    position: absolute;
    width: 54%;
    height: 7.7%;
    margin-left: 213px;
    margin-top: 101px;
    border: none;
    outline:none;
    border-bottom: 2px solid #4F3F84;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #E1D3C1;
    background-color: rgba(34, 34, 34, 0);
}
.P1{
    position: absolute;
margin-left:37.5%;
    /*margin-right: 50%;*/
    margin-top: 30px    ;
     height: 41px;
    width: 980px;
    /*margin-left: -20%;*/

    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 200;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #E1D3C1;
}

.Input12 {
    position: absolute;
    width: 54%;
    height: 7.7%;
    margin-left: 213px;
    margin-top: 166px;
    border: none;
    outline:none;
    border-bottom: 2px solid #4F3F84;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    background-color: rgba(34, 34, 34, 0);
    color: #E1D3C1;
}
.Input13 {
    position: absolute;
    width: 54%;
    height: 7.7%;
    margin-left: 213px;
    margin-top: 233px;
    border: none;
    outline:none;
    border-bottom: 2px solid #4F3F84;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    background-color: rgba(34, 34, 34, 0);
    color: #E1D3C1;
}
.Input2 {
    position: absolute;
    width: 54%;
    height: 7.7%;
    margin-left: 213px;
    margin-top: 295px;
    border: none;
    outline:none;
    border-bottom: 2px solid #4F3F84;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    background-color: rgba(34, 34, 34, 0);
    color: #E1D3C1;


}
.Sex1 {
    position: absolute;
    width: 500px;
    height: 50px;
    left: 213px;
    margin-top: 445px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #E1D3C1;

}

.Select {
    height: 22px;
    width: 130px;
    position: absolute;
    margin-top: 491px;
    margin-left: 205px;

    border: none;
    outline:none;
    /*border-bottom: 2px solid #4F3F84;*/
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    background-color: rgba(34, 34, 34, 0);

    color: rgba(225, 211, 193, 0.5);
}
.Button1 {
    position: absolute;
    width: 430px;
    height: 70px;
    margin-left: 248px;
    margin-top: 547px;
    /*margin-bottom: 32px;*/
    /*margin-right: 10%;*/

    background: #4F3F84;
    border: none;
    border-radius: 15px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    /*display: f;lex*/
    align-items: center;
    text-align: center;

    color: #E1D3C1;
}
.Button1:hover{
    background: #5C34FA;
}
.Button1:active{
    background: #504D49;
    transition: color 5s
}
.Birthday {
    position: absolute;
    height: 50px;
    width: 500px;
    margin-top: 361px;
    margin-left: 213px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #E1D3C1;
}

.Input3 {

    position: absolute;
    margin-left: 213px;
    margin-top: 407px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    display: flex;
    align-items: center;
    background-color: rgba(34, 34, 34, 0);


    color: rgba(225, 211, 193, 0.5);
}
.Circle {
    position: absolute;
    margin-top: 13%;
    margin-left: 5%;
}
.Photo {
    position: absolute;
    margin-top: 18.7%;
    margin-left: 9.7%;
    color: #E1D3C1;
}