.Boxeditprofile {
    border-radius: 20px;
    position: absolute;

    height: 647px;
    width: 930px;
    /*height: 63%;*/
    /*width: 64.5%;*/
    margin-right: 17.75%;
    margin-left: 17.75%;
    margin-top: 189px;
    margin-bottom: 188px;
    /*margin-top: 18.46%;*/
    /*margin-bottom: 290px;*/
    background: rgba(34, 34, 34, 0.7);
}