.Login1 {

    justify-content: center;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;


    background-color: rgba(34, 34, 34, 0);
    height: 50px;
    border: none;
    outline:none;

    border-bottom: 2px solid #4F3F84;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #E1D3C1;
}
.Login2 {

    justify-content: center;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
     margin-top: 6%;

    background-color: rgba(34, 34, 34, 0);
    height: 50px;
    border: none;
    outline:none;

    border-bottom: 2px solid #4F3F84;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #E1D3C1;
}

.Inputs1 {

    margin-top: 7%;
    /*margin-bottom: 32px;*/

}

.Button2 {

    width: 80%;
    margin-left: 10%;
    margin-top: 7.5%;
    height: 70px;
    background: #4F3F84;
    border: none;
    border-radius: 15px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;


    color: #E1D3C1;
}
.Button2:hover{

    background: #5C34FA;
}
.Button2:active{

    background: #504D49;
    transition: color 5s
}

.Div1 {

    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    width: 500px;
    height: 27px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;


    /*align-items: center;*/
    text-align: center;
    display: flex;
    justify-content: center;
    /*indent-text: 1em;*/
    /*margin-bottom: 30px;*/
    color: #E1D3C1;
}
.Login1:invalid {
    border-color: red;
    z-index: 1;

}
.Login1:valid {
    /*border-top: cyan;*/
}
.Login2:invalid {
    border-color: red;
    z-index: 1;
}
.Login2:valid {
    /*border-top: cyan;*/
}