.Box {


    border-radius: 20px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 523px;
    width: 540px;
    /*height: 51%;*/
    /*width: 37.5%;*/
    /*margin-right: 31.25%;*/
    margin-left: 450px;
        margin-top: 250px;
    margin-bottom: 251px;
    /*margin-top: 24.4%;*/
    /*margin-bottom: 24.5%;*/
    background: rgba(34, 34, 34, 0.7);
}

.text1 {
    font-family: Helvetica Neue;
    margin-top: 30px;
    /*margin-bottom: 452px;*/
    font-style: normal;
    font-weight: 200;
    font-size: 26px;
    line-height: 31px;
    /*display: flex;*/
    align-items: center;
    text-align: center;
    color: #E1D3C1;
}


