.Box {


    border-radius: 20px;
    position: absolute;

    /*height: 523px;*/
    /*width: 540px;*/
    /*height: 51%;*/
    height: 59%;
    width: 37.5%;
   margin-left: 31.3%;
    margin-top: 14.4%;

    background: rgba(34, 34, 34, 0.7);
}

.text1 {
    position: absolute;
    font-family: Helvetica Neue;
    margin-top: 27.3%;
    /*margin-bottom: 452px;*/
    font-style: normal;
    font-weight: 200;
    font-size: 2.5%;
    line-height: 3%;
    /*display: flex;*/
    /*align-items: center;*/
    /*text-align: center;*/
    color: #E1D3C1;
}


