.Boxprofile {
    /*margin-top: 30px;*/
    border-radius: 20px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 647px;
    width: 930px;
    margin-right: 450px;
    margin-left: 450px;
    margin-top: 289px;
    /*margin-bottom: 290px;*/
    background: rgba(34, 34, 34, 0.7);
}